.grid-container{
    max-width: 980px;
    margin: auto;
}
.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
.blogpost-main-container article h1{
    font-size: 35px;
}