.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
    width: 100%;
}
.blogs-button{
    border: 1px solid var(--blue);
    padding: 10px 15px;
    font-size: 12px;
}