body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --white: #ffffff;
    --grey: #414141;
    --red: 	#d62d20;
    --amarillo: #ffa700;
    --blue:#3367d6;
    --orange:#e34c26;
    --green:#008744;
}

*{
    box-sizing: border-box;
}