@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

$theme-font: 'Roboto';

:root{
    --white: #ffffff;
    --grey: #414141;
    --red: 	#d62d20;
    --amarillo: #ffa700;
    --blue:#3367d6;
    --orange:#e34c26;
    --green:#008744;
}